
<a [href]="web"
[class.activo]="redirigir"
> Escuha música aqui!!</a>

@if(redirigir == true){
    <p>El enlace funciona correctamente</p>
    
}@else {
    <p>Lo sentimos, el enlace no esta disponible</p>
}

<h3>LISTADO DE PRESTAMOS</h3>

<ul>
    @for(prestamo of prestamosList; track prestamo.id){
        <li>
            ${{prestamo.monto}} - 
            <span [ngClass]="{
              'aprobado': prestamo.estado === 'Aprobado',
              'pendiente': prestamo.estado === 'Pendiente'
            }">
                {{prestamo.estado}}
            </span>
        </li>
    }
</ul>
<h3>DETALLE PRESTAMOS</h3>
@switch (prestamo.tipo) {
    @case ("hipotecario") {
        <app-transacciones></app-transacciones>
    }

    @case ("personal") {
        <p>El prestamo es de tipo personal</p>
    }

    @case ("vehicular") {
        <p>Para la compra de un vehículo</p>
    }

    @default  {
        <p>Tipo de prestamo no reconocido</p>
    }

}
<h3>PIPES</h3>
<h4>UPPERCASE</h4>
{{web | uppercase}}
<br>
<h4>LOWERCASE</h4>
{{web | lowercase}}

<h4>TITLECASE</h4>
{{web | titlecase}}

<h4>DATECASE</h4>
<p>{{fechaActual | date}} </p>
<h4>CODIGO ASCII</h4>
{{"Hola soy Jhonatan" |cambiaAscii}}