<h1>Nombre: {{nombre}} </h1>
<h2>Edad: {{edad}} </h2>
<p>Ocupación: {{ocupacion}} </p>
<strong>Dirección: {{direccion}} </strong>
<br>
<small>Teléfono:{{telefono}} </small>

<br>
<div class="contenedorBoton">
    <button (click)="cambiarEdad()">CAMBIAR EDAD</button>
    <button (click)="cambiarDireccion()">CAMBIAR DIRECCIÓN</button>
</div>

<br>
<br>
@if(mostrar_cuenta == true){
    <button (click)="ocultarCuenta(false)">Ocultar Cuenta</button>
}@else {
    <button (click)="ocultarCuenta(true)">Mostrar Cuenta</button>
}

@if(mostrar_cuenta== true){
    <app-cuenta></app-cuenta>
}

